#blanco {
	margin: 0% 25%;
}

#envoltorio {
	background: #d8f8e1;
	padding: 0.25em;
}

div, header, footer, section, article {
	border: 1px solid black;
	
}

#illocabesa {
	padding: 0.5em;
	color: white;
	background: #ff6961;
	text-align: center;
	font-size: 30px;
}

#envoltorio2 {
	background: #ffda9e;
	padding: 0.25em;
}

#div_tit1 {
	background: #77dd77;
}

#div_tit2 {
	background: #b2e2f2;
}

#div_tit3 {
	background: #b0c2f2;
	padding-bottom: 5px;
}

#pie {
	background: #b0f2c2;
	padding: 0.25em;
}

article {
	text-align: center;
	vertical-align: middle;
}

.art {
	display: table-cell;
	width: 33%;
}

#art1 {
	background: #ffda9e;
}

#art2 {
	background: #fdcae1;
}

#art3 {
	background: #fdfd96;
	vertical-align: middle;
}

#logo {
	width: 95%;
}