div {
	margin: 0 auto;
	text-align: center;
}


#title {
	background: #d9f8e1;
	width: 90%;
	border: 1px solid #96a597;
}

#text {
	background: #b0c1f3;
	width: 70%;
	border: 2px solid #a5bad7;
	border-radius: 5px;
}

#button {
	background: #0000cc;
	color: white;
	width: 10%;
	height: 20%;
	border-radius: 10px;
	line-height: 200%;
}

#button:hover {
	cursor: pointer;
	background: #0200fc;
}

#list {
	background: #fefd98;
	width: 70%;
	border-radius: 5px;
	border: 1px solid #9a9b70;
}

#input {
	border: 0;
	border-radius: 5px;
	width: 28%;
	line-height: 200%;
}

#lista {
	text-align: left
}
